html,body {
  margin: 0px;
}

body {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: bold;
}

.container {
  margin: 45px 40px;
  position: relative;
}

header {
  background: #f55a5a;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 55px;
  position: relative;
}

header > img {
  width: 24px;
  margin-right: 7px;
  gap: 5px;
}

header > h1 {
  font-size: 1.2rem;
  font-weight: 500;
}

article.journal-entry {
  display: flex;
  margin: 10px;
  background-color: antiquewhite;
  border-radius: 1rem;
}

article.journal-entry .marker {
  width: 9px;
  margin-right: 10px;
}

article.journal-entry .main-image-container {
  width: 230px;
  height: 200px;
  overflow: hidden;
  border-radius: 1rem;
  flex-shrink: 0;
  margin-right: 19px;
  object-fit: cover;
}

article.journal-entry .main-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.info-container span.country {
  text-transform: uppercase;
  font-size: 0.7rem;
  margin-right: 12px;
}

.info-container a {
  color: #2b283a;
  font-size: 0.9rem;
}

.info-container a:visited {
  color: #918e9b;
}

.info-container h2.entry-title {
  margin-top: 7px;
  margin-bottom: 17px;
}

.info-container p.trip-dates {
  font-weight: bold;
}

.info-container p.entry-text {
  line-height: 1.5;
  font-size: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.footer {
  background-color: #000; 
  color: #fff;
  padding: 15px 0;
  height: 30px;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  font-family: "Delius Swash Caps", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
}

.heading{
  font-family: "Atma", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.3rem;
}
.name{
  font-family: "Atma", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
}
body {
  background-image: url('../src/assets/nature.jpg'); /* Adds a background image */
  background-size: cover; /* Ensures the image covers the entire viewport */
  background-repeat: no-repeat; /* Prevents tiling */
  background-position: center; /* Centers the image */
  margin: 0; /* Removes default margin */
  height: 100vh; /* Sets the body height to full viewport height */
  width: 100vw; /* Ensures full width */
  overflow: hidden; /* Prevents scroll if necessary */
  opacity: 0.8;
}

